@charset "uft-8";

html, body{
    margin: 0;
}
li{
    list-style: none;
}
header{
    width: 100%;
    height: 80px;
    background-color: #007BC7;
    font-family: 'Hannotate SC',sans-serif;
    z-index: 1;
    opacity: 0.8;
    position: fixed;
    top: 0;
}
header nav{
    display: flex;
}
.title{
    color: white;
    padding: 0 0 0 30px;
}
header ul{
    display: flex;
    margin: 0;
}
header nav ul li{
    width: 100px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    position: relative;
    border: 0px solid white;
    transition: border 0.5s ease;
}
header nav ul li a{
    text-decoration: none;
    display: block;
    color: white;
}
header nav ul li:hover{
    border: 3px solid white;
}
.header{
    height:calc(100vh - 80px);
    width: 100vw;
    background-image: url(http://business4.plala.or.jp/moriyama/images/bg.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Hannotate SC',sans-serif;
    position: sticky;
    top: 80px;
    z-index: -999;
}
.under-line{
    width: 50px;
    height: 3px;
    background-color: #007BC7;
    margin: 0 auto;
}
.header h1{
    text-align: center;
    padding-top: 250px;
    margin: 0;
    font-size: 96px;
}
.header p{
    text-align: center;
    font-size: 24px;
}
.profile{
    width: 100%;
    box-sizing: border-box;
    background :white;
}

section{
    padding: 80px 40px 40px 40px;
    height: 100vh;
}
section h2,section h2+.under-line+p{
    text-align: center;
    margin: 0;
}
section h2{
    padding-top:40px;
}
.profile-box{
    display: flex;
    box-sizing: border-box;
    width: 100%;
}
.slideshow{
    height: 315px;
    overflow: hidden;
    width: 40%;
    margin: 3% 0% 0% 10%;
    position:relative;
}
.slides{
    height: 100%;
    width: 100%;
    position: absolute;
}
.slides .slide{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
}
.slides .slide:nth-child(1){
    background-image: url(./img/img1.JPG);
}
.slides .slide:nth-child(2){
    background-image:url(./img/img2.JPG); 
}
.slides .slide:nth-child(3){
    background-image: url(./img/img3.JPG);
}
.slides .slide:nth-child(4){
    background-image: url(./img/img4.JPG);
}
.slideshow-nav a{
    background-color: rgba(0,0,0,0);
}
.slideshow-nav a{
    position: absolute;
    top: 42%;
    color: white;
    font-size: 2em;
}
.slideshow-nav a.next{
    right: 0px;
}
.slideshow-nav a.disabled{
    display: none;
}


.profile-text{
    height: 285px;
    width: 40%;
    margin: 20px;
}
table th{
    text-align: right;
    padding-right: 20px;
}
table tr{
    text-align: left;
}
.selfpr{
    width: 100%;
    background-image: url(http://www65.tok2.com/home2/forest/img185.gif);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}
.selfpr ul{
    display: flex;
    justify-content: center;
    margin: 30px 0;
    padding-right: 25px;
}
.selfpr li{
    border: 1px solid black;
    width: 30%;
    height: 350px;
    margin: 0 25px 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    opacity: 0.5;
    overflow: auto;
    transition: all 0.4s ease;
}
.selfpr li:hover{
    opacity: 0.8;
}
li h3{
    text-align: center;
}
.vision{
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    background: white;
}
.vision h3,.vision p{
    text-align: center;
}
.vision h3{
    font-size: 28px;
    color: #007BC7;
}
.vision h3+p{
    font-size: 24px;
    line-height: 50px;
}
.nextcomingsoon{
    color: #007BC7;
    font-size: 48px;
    position: absolute;
    bottom: -20px;
    left: 460px;
    margin: 0;
}
footer{
    width: 100vw;
    height: 200px;
    background-color: #007BC7;
    padding-top: 60px;
    box-sizing: border-box;
}
footer a{
    display: block;
    text-decoration: none;
    color: white;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    line-height: 80px;
    width: 150px;
    border: 5px solid white;
}
small{
    display: block;
    text-align: center;
    color: white;
}
@media(max-width:1199px){
    .slideshow{
        width: 60%;
        margin: 10px 0 10px;
    }
    .selfpr ul{
        padding: 0;
    }
    .selfpr li{
        margin: 0 10px 0;
    }
    .vision h3,.vision p{
        text-align: left;
    }
    .nextcomingsoon{
        left: 150px;
    }
}
@media(max-width:767px){
    section{
        padding: 20px;
    }
    .profile-box{
        display: block;
    }
    .slideshow{
        margin: 10px 0 5px;
        width: 100%;
    }
    .profile-text{
        width: 100%;
        height: 180px;
        position: relative;
        left: -80px;
    }
    .selfpr ul{
        display: block;
        margin: 0;
        padding: 0;
    }
    .selfpr li{
        width: 100%;
        height: 150px;
        margin: 10px 0px;
    }
    .nextcomingsoon{
        left: 0;
    }
}
@media(max-width:553px){
    .header h1{
        font-size: 48px;
    }
   .profile-text{
       left: 0;
   }
}


